name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Executing remote ssh commands
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            # 1. Navigate to the project folder
            cd ~/Project

            # 2. Get latest code
            git pull origin main

            # 3. Stop and Remove old container
            docker stop cryptease-api || true
            docker rm cryptease-api || true

            # 4. Rebuild the image
            docker build -t cryptease-back .

            # 5. Start the new container with Volume preserved
            docker run -d \
              --name cryptease-api \
              -p 80:8000 \
              -v "$(pwd)/images:/app/images" \
              cryptease-back
