name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Executing remote ssh commands
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            set -e
            cd ~/Project
            git fetch origin main
            git reset --hard origin/main

            # Create .env file from secrets
            cat <<'EOF' > .env
            AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }}
            AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }}
            AWS_STORAGE_BUCKET_NAME=${{ secrets.AWS_STORAGE_BUCKET_NAME }}
            AWS_S3_REGION_NAME=${{ secrets.AWS_S3_REGION_NAME }}
            EOF

            # Stop and Remove old container AND image
            docker stop cryptease-api || true
            docker rm cryptease-api || true
            docker rmi cryptease-back || true

            # Rebuild the image
            docker build -t cryptease-back .

            # Start the new container
            docker run -d \
              --name cryptease-api \
              -p 80:8000 \
              --env-file .env \
              -v "$(pwd)/images:/app/images" \
              cryptease-back
