name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Executing remote ssh commands
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            # 1. Navigate to the project folder
            cd ~/Project

            # 2. Get latest code
            git pull origin main

            # 3. Create .env file from secrets
            cat <<EOF > .env
            AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }}
            AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }}
            AWS_STORAGE_BUCKET_NAME=${{ secrets.AWS_STORAGE_BUCKET_NAME }}
            AWS_S3_REGION_NAME=${{ secrets.AWS_S3_REGION_NAME }}
            EOF

            # 4. Stop and Remove old container
            docker stop cryptease-api || true
            docker rm cryptease-api || true

            # 5. Rebuild the image
            docker build -t cryptease-back .

            # 6. Start the new container with .env file and Volume preserved
            docker run -d \
              --name cryptease-api \
              -p 80:8000 \
              --env-file .env \
              -v "$(pwd)/images:/app/images" \
              cryptease-back
